[Desktop Entry]
Name=MacTahoe-Futuristic
Comment=MacTahoe reworked with a warm-charcoal + amber/teal futuristic palette (Trade Hive design system)

X-KDE-PluginInfo-Author=Wesky (based on Vince Liuice's MacTahoe-Dark)
X-KDE-PluginInfo-Email=vinceliuice@hotmail.com
X-KDE-PluginInfo-Name=MacTahoe-Futuristic
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=https://github.com/vinceliuice
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-License=GPL-3.0
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0

[Wallpaper]
defaultWallpaperTheme=MacTahoe-Dark
defaultFileSuffix=.jpeg
defaultWidth=3840
defaultHeight=2160

[ContrastEffect]
enabled=false
contrast=0.2
intensity=1.4
saturation=10

[AdaptiveTransparency]
enabled=true
